@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link {
    @apply text-white tracking-wide;

    &:hover {
      @apply text-rose-600;
    }
  }
  .hero {
    display: inline-block;
    margin: 2 0.5rem;

    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
}
